@import "tailwindcss";

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
}

/* Customização da barra de rolagem global */
::-webkit-scrollbar {
  width: 8px; /* Deixa ela bem fininha */
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #2e1065; 
  border-radius: 9999px; 
  border: 2px solid #000000; 
}

::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}