@import "tailwindcss";

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
}

/* 1. Remove qualquer barra duplicada */
html {
  scrollbar-width: thin; /* Firefox */
}

/* 2. Configura a largura da barra apenas no nível global */
::-webkit-scrollbar {
  width: 0px;
  height: 8px; 
}

/* 3. Força o fundo da linha comprida (Track) a ficar TOTALMENTE INVISÍVEL */
::-webkit-scrollbar-track {
  background: #000000 !important; 
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
  background: transparent !important; 
  border-radius: 9999px; 
  border: 2px solid #000000; 
}

/* Hover no indicador */
::-webkit-scrollbar-thumb:hover {
  background: #000000 !important;
}
